<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>testing</title>
    <link rel='stylesheet' href='./Stylesheets/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  </head>
  <body>

    <header id="header" class="page-header">
      <h1>PICTIONARY</h1>
    </header>

    <div id="username">
      <h2 id="enterName">Enter a username!</h2>
      <form id="usernameForm" action="">
        <input id="usernameInput" type="text" maxlength="15" />
      </form>
    </div>

    <section id="game">
      <div id="userList">
        <ul id="users" class="list-group">
          <% if(guest_id) { %>
            <!-- <li>Guest: <%= guest_id %></li> -->
          <% }else if(user_id) { %>
            <li>Guest: <%= user_id %></li>
          <% } %>
          <li id="CurConnected" class="list-group-item"></li>
        </ul>
      </div>
      <div id="canvas">
        <div id="overlay">Game starting...</div>
        <canvas id="myCanv" width="700" height="500"></canvas>
      </div>
      <div id="chat">
        <ul id="messages"></ul>
        <form id="chatForm" action="">
          <input id="m" autocomplete="off" /><button>Send</button>
        </form>
      </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src='./scripts/drawScript.js'></script>
    <script src="./scripts/chatScript.js"></script>
  </body>
</html>
