.header {
  margin: 0 auto;
  color: white;
}
.header h1 {
  text-align: center;
}
body {
    background-image: url("../Images/HomeWallpaper.jpg");
    background-size:  cover;
    background-color: grey;
}

.body a {
  margin: 0 auto;
  text-align: center;
  margin-left: 45%;
}
